# === Основные настройки ===
BOT_TOKEN=7003689551:AAHNofi6PQzR9umyE_VxnpfNA4n-ohVp1d4
ADMIN_USERNAME=fullofsarang
TZ=Europe/Moscow

# === Логирование ===
LOG_LEVEL=DEBUG
HEALTH_CHECK_ENABLED=false

# ===Spotify===
SPOTIFY_CLIENT_ID=1ffbe2f782b842569152300e8e7c082d
SPOTIFY_CLIENT_SECRET=1cf03d08d595441f9b9f311ebb964551
PLAYLIST_URL=https://open.spotify.com/playlist/72pNQx87BvofQIhpUjFMw1?si=6635d00aa10640dc
PLAYLIST_UPDATE_HOURS=3

# Logging
LOG_LEVEL=DEBUG

# База данных (PostgreSQL + pgvector)
DB_DSN=postgres://postgres:postgres@192.168.1.179:5440/gemfactory?sslmode=disable

#LLM
LLM_API_KEY=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